body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__title-group {
  margin: 0;
}

button[type="button"],
button[type="submit"] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 0;
}

main {
  flex: 1;
}

#logs {
  margin: 0;
}

article:last-of-type {
  margin: 0;
}

.log__header {
  margin: 0;
}

.log__badge {
  background: #007a50;
  color: #fff;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0 0.25rem;
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 450px) {
  .footer {
    flex-direction: row;
  }
}
